<a href="https://colab.research.google.com/github/kenny1902/Colab/blob/master/01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
print (2+3)
print (type(8/5))

5
<class 'float'>

In [10]:
input1 = 2
input2 = 3

result = input1 +input2
print ("The sum of", input1, "and", input2, "is", result)
print ("The sum of {2} %s and %s is %s".format(input1,input2,result))

The sum of 2 and 3 is 5
The sum of 5 %s and %s is %s

In [12]:
#format

print ('lan 1 {0} and {1}'.format('spam','eggs'))
print ('lan 2 {1} and {0}'.format('spam','eggs'))

lan 1 spam and eggs
lan 2 eggs and spam

In [14]:
import math
print('The value {0:.3f}'.format(math.pi)) #in ra 3 so cuoi sau dau phay cua so Pi

The value 3.142

In [24]:
#table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
#for name, phone in table.items():
#    print ('{0:10} ==> {1:1d}'.format(name, phone))

'{:,}'.format(1234567890)

'1,234,567,890'

In [66]:
name = "macro"
age = 12

print ("Ten %s va tuoi %s" % (age, name))
print (type (age))
type (age)
print (3*f'{name} is {age} years old \n')
print (3*f'{name} is {age} years old ')

Ten 12 va tuoi macro
<class 'int'>
macro is 12 years old
macro is 12 years old
macro is 12 years old

macro is 12 years old macro is 12 years old macro is 12 years old

In [52]:
print ('lan 1 {:8}'.format('test'))
print ('lan 2 {:>8}'.format('test'))

a = 10.122232
print (f'{a:.2f}')

lan 1 test
lan 2     test
10.12

In [63]:
q = 459
p = 59.098
print ("Art: %5d, Price per Unit : %8.2f"%(q,p))
print ("Art: %10d, Price per Unit : %10.2f"%(q,p))

Art:   459, Price per Unit :    59.10
Art:        459, Price per Unit :      59.10

In [84]:
a = "hoa tuoi"
b = "hom nay"
print (a,b, sep= '====')
print (a,b, sep= '/')

print ("lan 1")
print (a, end='*')
print (b)
print ('\n') #cach dong khi in
print ("lan 2")
print (a, end='\n') #xuong dong sau khi in xong a
print (b)
print (3*'\n')  #cach dong khi in
print ('There are', 6, 'members of Monty Python', sep='ðŸ˜€')

hoa tuoi====hom nay
hoa tuoi/hom nay
lan 1
hoa tuoi*hom nay


lan 2
hoa tuoi
hom nay




There areðŸ˜€6ðŸ˜€members of Monty Python